{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title">
                    <a href="{% url 'account_email' %}">
                      <button type="submit" class="btn btn-primary" title="Change email" data-toggle="change email" style="float: right;">Email settings</button>
                    </a>
                    <br/>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'users:detail' user.username %}">Profile</a></li>
                    <li class="breadcrumb-item">Change password</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->
          <div class="main-body">
            <div class="page-wrapper">
              <!-- [ Main Content ] start -->
              <div class="row">
                <!-- [ sample-page ] start -->
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Password change</h5>
                      <div class="card-header-right">
                        <div class="btn-group card-option">
                          <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                          </button>
                          <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                            <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                            <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-block">
                      <div class="row">
                        <div class="col-md-6">
                          <div>
                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                              {% csrf_token %}
                              {{ form|crispy }}
                              <button type="submit" class="btn btn-success" name="action" title="Save changes" data-toggle="tooltip">{% trans "Change Password" %}</button>
                            </form>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- [ sample-page ] end -->
                </div>
                <!-- [ Main Content ] end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->


  </div>
{% endblock content %}

