{% extends "layouts/base-fullscreen.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  <div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-user-plus auth-icon"></i>
          </div>
          <h3 class="mb-4">Password reset email sent</h3>

          <span class="mb-0 text-muted">
                        {% if msg %}
                          {{ msg | safe }}
                        {% else %}

                        {% endif %}
                    </span>

          <br />
          <br />

          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}

          <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{#          TODO add contact form link#}
          <br />
          <br />

          <p class="mb-2 text-muted">
            &copy; MyProject
            - <a target="_blank" href="#">My Site</a>.
          </p>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

